# Pycharm files
.idea/*
__pycache__/*
*/__pycache__/*

# Sensitive files
data.py
*.docx
Contract_templates/*
Contracts/*

# Log files
*.log

# Testing files
*test*
*.jpg

# Data files
File/*
*.txt
*.xlsx
!db_code_for_erd.dbdesigner.net.txt